*{
    margin: 0;
    padding: 0;
    font-family: Consolas;
}

header{
    background-image:linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.35)), url(../background.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

ul li a:hover{
    background-color: #fff;
    color: #000;
}
ul li.active a{
    background-color: #fff;
    color: #000;
}

.logo img{
    float: left;
    width: 210px;
    height: auto;
}

.main{
    max-width: 1825px;
    margin: auto;
}

.title{
    position: absolute;
    top: 38%;
    left: 39%;
    background: linear-gradient(to right, #9A33FF, #DB94FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: drop 1.5s ease;
}

.title h1{
    color: #fff;
    font-size: 160px;
}

.button{
    font-size: 35px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.btn{
    border: 2px solid #fff;
    padding: 10x 30px;
    color: #fff;
    text-decoration: none;
    transition: 0.6s ease;
}

.btn:hover{
    background-color: #fff;
    color: #000
}

@keyframes drop{
    0%{
        opacity: 0;
        transform: translate(+100px);
    }
    100%{
        opacity: 1;
        transform: translate(0px);
    }
}

.info{
    position: absolute;
    top: 55%;
    left: 29%;
    background: #00A0FF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}